<!--<router-outlet></router-outlet>-->

<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over">

    <mat-toolbar color="primary">
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="/authors/list"
         mat-list-item
         (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <span>Authors list</span>
      </a>

      <mat-divider></mat-divider>

      <a routerLink="/404"
         mat-list-item
         (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>warning</mat-icon>
        <span>404</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
